<br/>

<div class="form-group">
    <form method="POST" action={{sendFileUrl}} enctype="multipart/form-data" >
        <input class="btn btn-primary btn-sm" type="file" name="file" id="file" />
        <br/>
        <input class="btn btn-primary btn-sm" type="submit"  onClick="document.getElementsByName('redirect')[0].value = window.location.pathname" value="Upload to" name="upload" id="upload" />
        <input type="text" value="c:/temp" name="destination"/>
    </form>
</div>
<br/>
<div> <!-- <p>Variable headers count : {{vheaders?.length}}</p> -->

    <!-- Default looks, does what I need -->
    <table id ="table" class="table table-striped" onloadedmetadata="$('#table').DataTable()" > 
        <thead>
        <tr>
            <th style="width: 2%">
                Id
            </th>
            <th *ngFor="let vheader of vheaders; let i = index" style="width: 5%">                
                {{vheader}}
            </th>
            <th style="width: 10%">
                Decision
            </th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data" style="width: 2%">
                <td>{{item.id}}</td>
                <td *ngFor="let value of item.vars" style="width: 5%">{{value}}</td>
                <td style="width: 10%">{{item.decision}}</td>
            </tr>
        </tbody>
        <tfoot>
            
        </tfoot>
    </table>
    
    <!-- With PrimeNG - looks good, but doesn't do what I need (uncomment bellow for testing) -->
    <!--
    <p-dataTable [value]="data">
        <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header"></p-column>
    </p-dataTable>
    -->
</div>
